header{
    height: 80px;
    background-color: grey;
    width: auto;
}

.main{
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}
footer{
    background-color: grey;
    height: 40px;
}
